
<div class="col_1_of_3 span_1_of_3">
    <div class="view view-fifth">
        <a href="product/<%= id %>">
            <div class="top_box">
                <h3 class="m_1"><%= title %></h3>
                <p class="m_2"><%= subtitle %></p>
                <div class="grid_img">
                    <div class="css3">
                        <img src="<%= imgsrc %>" alt="<%= imgalt %>"/>
                    </div>
                </div>
                <div class="price"><%= price %></div>
            </div>
        </a>
    </div>
</div>
