<!DOCTYPE HTML>
<html>

	<head>
		<title> WEB601 Ecommerce | Account</title>
		<link href="/stylesheets/dashboard.css" rel="stylesheet"/>
		<%- include('../partials/head.ejs'); %>
	</head>

	<body>
        <%- include('../partials/nav.ejs'); %>

            <!-- ANCHOR account content here -->
			<main class="mb-4">
				<body class="my-login-page">
					<section class="h-100">
						<div class="container h-100">
							<div class="row justify-content-md-center h-100">
								<div class="left-column">
									<ul>
									<a href = "/dashboard/account">Account</a>
									</ul>
									<ul>
									<a href = "/dashboard/orders">Orders</a>
									</ul>
									<ul>
									<a href = "/dashboard/sales">Sales</a>
									</ul>
									<ul>
									<a href = "/dashboard/users">Users</a>
									</ul>
								</div>
								<div class="vl"></div>
								<div class="card-wrapper">
									<div class="card fat">
										<div class="card-body">
											<h4 class="card-title">Account</h4>
											<form class="my-login-validation" novalidate="">
												<div class="profile-info">
													<label for="id">ID:</label>
													<input type="text" id="id-input" class="acc_input" value=<%- user._id %> disabled>
												</div>

												<div class="profile-info">
													<label for="username">Username:</label>
													<input type="text" id="username-input" class="acc_input" value=<%- user.username %> disabled>
												</div>
											
												<div class="profile-info">
													<label for="firstName">First Name:</label>
													<input type="text" id="name-input" class="acc_input" value="<%- user.given_name %>" disabled>
												</div>

												<div class="profile-info">
													<label for="surname">Surname:</label>
													<input type="text" id="name-input" class="acc_input" value="<%- user.family_name %>" disabled> 
												</div>
											
												<div class="profile-info">
													<label for="email">Email:</label>
													<input type="email" id="email-input" class="acc_input" value="<%- user.email  %>" disabled>
												</div>
											
												<div class="profile-info">
													<label for="password">Password:</label>
													<input type="password" id="password-input" class="acc_input" value="<%- user.password %>">
												</div>
												<!-- Update Password Button -->
												<div class="form-group m-0">
													<button type='button' class="update-btn" id="update-password" style="margin-top: 10px">Update Password</button>
												</div>
												<!-- Delete Account Button -->
												<div class="form-group m-0">
													<button type='button' class="delete-btn" id="delete-account" style="margin-top: 10px">Delete Account</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</body>
			</main>	

		<%- include('../partials/footer.ejs'); %>
	</body>
	<script src="/update.js"></script>
	<script src="/delete.js"></script>
</html>